.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-text-1 {
  margin: -22px auto 0 357px;
}

.u-section-1 .u-form-1 {
  height: 298px;
  margin: 16px 255px 60px 315px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 294px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-right: 155px;
    margin-left: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 225px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 45px;
    margin-left: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 169px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 106px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}